@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-family: "Montserrat", sans-serif;
  background-color: var(--dark);
  
  --dark: #0A1F38;
  --dark-overlay: #0A1F38B0;
  --dark-middle: #1B2F46;
  --dark-light: #2F4056;
  --gray: #9DA5AF;
  --green-dark: #819400;
  --green-middle: #97AB0D;
  --green: #A5BB0C;
  --green-light: #B1C909;
  --white: #FFFFFF;
  --error-text: #FF7461;
  --error-background: #FF74611A;

  color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--green-light);
  text-decoration: inherit;
}
a:hover {
  color: var(--white);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/* MobileVersion */
h1 {
  margin: 0px;
  line-height: 64px;
  font-size: 60px;
  text-align: left;
}
h2 {
  margin: 0px;
  font-size: 32px;
  line-height: 36px;
  text-align: left;
}
h3 {
  margin: 0px;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
}
h4 {
  margin: 0px;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}
.text-normal {
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
.text-small {
  margin: 0px;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}
.text-small-bold {
  margin: 0px;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  font-weight: bold;
}
/* FullVersion */
@media (min-width: 768px) {
  h1 {
      font-size: 104px;
      line-height: 104px;
  }
  h2 {
      line-height: 72px;
      font-size: 48px;
  }
  h3 {
      line-height: 48px;
      font-size: 32px;
  }
  h4 {
      line-height: 32px;
      font-size: 24px;
  }
  .text-normal {
    margin: 0px;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
  }
  .text-small {
    margin: 0px;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
  }
  .text-small-bold {
    margin: 0px;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    font-weight: bold;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
